<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="dataFileFullName" value="E:\GeoDB\data\GeoNames.utf8.data" /><!----><!--test.txt-->
    <add key="dataFileEncoding" value="utf-8"/>

    <add key="test_GetIndexHeaderByDataFile" value="true"  />
    <add key="test_BuildIndex32OnDisk"       value="false" />
    <add key="test_BuildIndex64"             value="false" />
    <add key="test_BuildIndex32"             value="false" />
    <add key="test_BuildIndexAutomatic"      value="false" />
    <add key="test_Search_small"             value="false" />
    <add key="test_Search_big"               value="true"  />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
