<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="TonalityMarking" type="TonalityMarking.TonalityMarkingSectionHandler, TonalityMarking.WcfService" requirePermission="false"/>
  </configSections>

  <TonalityMarking>
    <Linguistics>
      <Url>tcp://localhost:45312/LingvisticsServer</Url>
    </Linguistics>

    <Themes>
      <Theme Type="Default">
        <Languages>
          <Language Type="RU">
            <Dictionaries BasePath="..\..\..\..\Dictionaries">
              <Nouns>
                <!--существительные-->
                <Dictionary DictionaryType="nANeg" FileName="list_nouns_aneg.txt" />
                <Dictionary DictionaryType="nAPos" FileName="list_nouns_apos.txt" />
                <Dictionary DictionaryType="nNeg"  FileName="list_nouns_neg.txt"  />
                <Dictionary DictionaryType="nPos"  FileName="list_nouns_pos.txt"  />
                <Dictionary DictionaryType="nPNeg" FileName="list_nouns_pneg.txt" />
                <Dictionary DictionaryType="nPPos" FileName="list_nouns_ppos.txt" />
              </Nouns>
              <Verbs>
                <!--глаголы-->
                <Dictionary DictionaryType="vFlxNeg" FileName="list_verbs_flxneg.txt"   CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="vFlxPos" FileName="list_verbs_flxpos.txt"   CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="vLink"   FileName="list_verbs_link.txt"     CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="vNeg"    FileName="list_verbs_neg.txt"      CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="vPos"    FileName="list_verbs_pos.txt"      CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="vNegP"   FileName="list_verbs_pure_neg.txt" CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="vPosP"   FileName="list_verbs_pure_pos.txt" CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="vOppPos" FileName="list_verbs_opp_pos.txt"  CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="vOppNeg" FileName="list_verbs_opp_neg.txt"  CheckOnExistsWeightValue="true" />
              </Verbs>
              <Adjectives>
                <!--прилагательные-->
                <Dictionary DictionaryType="adjNeg"   FileName="list_adjectives_neg.txt"   />
                <Dictionary DictionaryType="adjPos"   FileName="list_adjectives_pos.txt"   />
                <Dictionary DictionaryType="adjAmplf" FileName="list_adjectives_amplf.txt" CheckOnExistsWeightValue="true" />
              </Adjectives>
              <Adverbs>
                <!--наречия-->
                <Dictionary DictionaryType="advNeg"   FileName="list_adverbs_neg.txt"   CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="advPos"   FileName="list_adverbs_pos.txt"   CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="advAmplf" FileName="list_adverbs_amplf.txt" CheckOnExistsWeightValue="true" />
              </Adverbs>
              <Collocations>
                <!--коллокации-->
                <Dictionary DictionaryType="collNeg"   FileName="list_collocation_neg.txt"   />
                <Dictionary DictionaryType="collPos"   FileName="list_collocation_pos.txt"   />
                <Dictionary DictionaryType="collNeut"  FileName="list_collocation_neut.txt"  />
                <Dictionary DictionaryType="collAmplf" FileName="list_collocation_amplf.txt" CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="collvNeg"  FileName="list_collocation_vneg.txt"  CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="collvPos"  FileName="list_collocation_vpos.txt"  CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="collvNeut" FileName="list_collocation_vneut.txt" CheckOnExistsWeightValue="true" />
              </Collocations>
              <NER>
                <Dictionary DictionaryType="nNeg" FileName="list_ner_neg.txt" />
                <Dictionary DictionaryType="nPos" FileName="list_ner_pos.txt" />
              </NER>
            </Dictionaries>

            <Rules BasePath="..\..\..\..\Dictionaries">
              <MainFile>rules.xml</MainFile>
              <OrderFile>order_rules.xml</OrderFile>
              <OrderParticipialFile>order_rules_participial.xml</OrderParticipialFile>
              <OrderHomogenousFile>order_rules_homogenous.xml</OrderHomogenousFile>
            </Rules>
          </Language>
        </Languages>
      </Theme>
    </Themes>
  </TonalityMarking>  

  <system.serviceModel>
    <services>
      <service name="TonalityMarking.TonalityMarkingWcfService" behaviorConfiguration="TonalityMarkingWcfServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/TonalityMarkingWcfService"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at: net.tcp://localhost:9000/TonalityMarkingWcfService  -->
        <endpoint address="net.tcp://localhost:9000/TonalityMarkingWcfService" binding="netTcpBinding" bindingConfiguration="NETTcpBinding_ITonalityMarking" contract="TonalityMarking.ITonalityMarking"/>
        <!-- the mex endpoint is exposed at http://localhost:8000/TonalityMarkingWcfService/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>
      <!-- 
            Following is the expanded configuration section for a NetTcpBinding.
            Each property is configured with the default values.
            See the Message Security, and Transport Security samples in the WS binding samples
            to learn how to configure these features.
         -->
      <netTcpBinding>
        <binding name="NETTcpBinding_ITonalityMarking" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="9999999" maxConnections="9999999" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None"/>
          <!--
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
          -->
        </binding>
      </netTcpBinding>
    </bindings>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="TonalityMarkingWcfServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <!--VERY IMPORTANT !!! (for self-hosting only (not IIS-hosting))-->
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
