<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  
	<configSections>
		<section name="TonalityMarking" type="TonalityMarking.TonalityMarkingSectionHandler, TonalityMarking.WcfService" requirePermission="false"/>
	</configSections>
  
	<TonalityMarking>
		<Linguistics>
			<Url>tcp://localhost:45312/LingvisticsServer</Url>
		</Linguistics>
    
		<Themes>
			<Theme Type="Default">
				<Languages>
					<Language Type="RU">
						<Dictionaries BasePath="..\..\..\Dictionaries">
							<Nouns>
								<!--существительные-->
								<Dictionary DictionaryType="nANeg" FileName="list_nouns_aneg.txt" />
								<Dictionary DictionaryType="nAPos" FileName="list_nouns_apos.txt" />
								<Dictionary DictionaryType="nNeg"  FileName="list_nouns_neg.txt"  />
								<Dictionary DictionaryType="nPos"  FileName="list_nouns_pos.txt"  />
								<Dictionary DictionaryType="nPNeg" FileName="list_nouns_pneg.txt" />
								<Dictionary DictionaryType="nPPos" FileName="list_nouns_ppos.txt" />
							</Nouns>
							<Verbs>
								<!--глаголы-->
								<Dictionary DictionaryType="vFlxNeg" FileName="list_verbs_flxneg.txt"   CheckOnExistsWeightValue="true" />
								<Dictionary DictionaryType="vFlxPos" FileName="list_verbs_flxpos.txt"   CheckOnExistsWeightValue="true" />
								<Dictionary DictionaryType="vLink"   FileName="list_verbs_link.txt"     CheckOnExistsWeightValue="true" />
								<Dictionary DictionaryType="vNeg"    FileName="list_verbs_neg.txt"      CheckOnExistsWeightValue="true" />
								<Dictionary DictionaryType="vPos"    FileName="list_verbs_pos.txt"      CheckOnExistsWeightValue="true" />
								<Dictionary DictionaryType="vNegP"   FileName="list_verbs_pure_neg.txt" CheckOnExistsWeightValue="true" />
								<Dictionary DictionaryType="vPosP"   FileName="list_verbs_pure_pos.txt" CheckOnExistsWeightValue="true" />
								<Dictionary DictionaryType="vOppPos" FileName="list_verbs_opp_pos.txt"  CheckOnExistsWeightValue="true" />
								<Dictionary DictionaryType="vOppNeg" FileName="list_verbs_opp_neg.txt"  CheckOnExistsWeightValue="true" />
							</Verbs>
							<Adjectives>
								<!--прилагательные-->
								<Dictionary DictionaryType="adjNeg"   FileName="list_adjectives_neg.txt"   />
								<Dictionary DictionaryType="adjPos"   FileName="list_adjectives_pos.txt"   />
								<Dictionary DictionaryType="adjAmplf" FileName="list_adjectives_amplf.txt" CheckOnExistsWeightValue="true" />
							</Adjectives>
							<Adverbs>
								<!--наречия-->
                <Dictionary DictionaryType="advNeg"   FileName="list_adverbs_neg.txt"   CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="advPos"   FileName="list_adverbs_pos.txt"   CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="advAmplf" FileName="list_adverbs_amplf.txt" CheckOnExistsWeightValue="true" />
							</Adverbs>
							<Collocations>
								<!--коллокации-->
                <Dictionary DictionaryType="collNeg"   FileName="list_collocation_neg.txt"   />
                <Dictionary DictionaryType="collPos"   FileName="list_collocation_pos.txt"   />
                <Dictionary DictionaryType="collNeut"  FileName="list_collocation_neut.txt"  />
                <Dictionary DictionaryType="collAmplf" FileName="list_collocation_amplf.txt" CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="collvNeg"  FileName="list_collocation_vneg.txt"  CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="collvPos"  FileName="list_collocation_vpos.txt"  CheckOnExistsWeightValue="true" />
                <Dictionary DictionaryType="collvNeut" FileName="list_collocation_vneut.txt" CheckOnExistsWeightValue="true" />
							</Collocations>
              <NER>
                <Dictionary DictionaryType="nNeg" FileName="list_ner_neg.txt" />
                <Dictionary DictionaryType="nPos" FileName="list_ner_pos.txt" />
              </NER>
						</Dictionaries>
						<Rules BasePath="..\..\..\Dictionaries">
							<MainFile>rules.xml</MainFile>
							<OrderFile>order_rules.xml</OrderFile>
              <OrderParticipialFile>order_rules_participial.xml</OrderParticipialFile>
              <OrderHomogenousFile>order_rules_homogenous.xml</OrderHomogenousFile>
            </Rules>
					</Language>
				</Languages>
			</Theme>
		</Themes>
	</TonalityMarking>
  
	<system.web>
		<!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0"></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ITonalityMarking" 
                 maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" 
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
				</binding>
			</basicHttpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ITonalityMarking" 
                 maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
					<security mode="None">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</wsHttpBinding>
			<webHttpBinding>
				<binding name="WebHttpBinding_ITonalityMarking" 
                 maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
				</binding>
			</webHttpBinding>
		</bindings>
		<services>
			<service name="TonalityMarking.TonalityMarkingWcfService" 
               behaviorConfiguration="TonalityMarking.TonalityMarkingWcfServiceBehavior">
        
				<endpoint address="" 
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_ITonalityMarking" 
                  contract="TonalityMarking.ITonalityMarking">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
        
				<endpoint address="/ws"
                  binding="wsHttpBinding"
                  bindingConfiguration="WSHttpBinding_ITonalityMarking" 
                  contract="TonalityMarking.ITonalityMarking">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
        
				<endpoint address="/web" 
                  binding="webHttpBinding" 
                  bindingConfiguration="WebHttpBinding_ITonalityMarking"
                  contract="TonalityMarking.ITonalityMarking" 
                  behaviorConfiguration="webScriptEnablingBehavior">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
        
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webScriptEnablingBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="TonalityMarking.TonalityMarkingWcfServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="2000000"
                             maxConcurrentInstances="2000000" 
                             maxConcurrentSessions="2000000"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
