<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>

  <configSections>
    <section name="OpinionMining" type="OpinionMining.OpinionMiningSectionHandler, OpinionMining.WcfService" requirePermission="false"/>
  </configSections>

  <OpinionMining>
    <Linguistics>
      <Url>tcp://localhost:45312/LingvisticsServer</Url>
    </Linguistics>
   
    <ResultLimit>
      <MaxSentCountInText>20000</MaxSentCountInText>
      <MaxObjectCountInSent>50</MaxObjectCountInSent>
      <MaxSentLengthWithoutSpace>5000</MaxSentLengthWithoutSpace>
    </ResultLimit>

    <Themes>
      <Theme Type="Default">
        <Languages>
          <Language Type="RU">
            <Dictionaries BasePath="..\..\..\Dictionaries">
              <Verbs>
                <!--глаголы-->
                <Dictionary DictionaryType="VerbsOpinion1" FileName="list_verbs_opinion1.txt" />
                <Dictionary DictionaryType="VerbsOpinion2" FileName="list_verbs_opinion2.txt" />
                <Dictionary DictionaryType="VerbsOpinion3" FileName="list_verbs_opinion3.txt" />
                <Dictionary DictionaryType="VerbsOpinion4" FileName="list_verbs_opinion4.txt" />
                <Dictionary DictionaryType="VerbsOpinion5" FileName="list_verbs_opinion5.txt" />
                <Dictionary DictionaryType="VerbsOpinion6" FileName="list_verbs_opinion6.txt" />
                <Dictionary DictionaryType="VerbsOpinion7" FileName="list_verbs_opinion7.txt" />
              </Verbs>
              <Phrasis>
                <Dictionary DictionaryType="Phrasis1" FileName="list_phrasis_opinion1.txt" />
                <Dictionary DictionaryType="Phrasis2" FileName="list_phrasis_opinion2.txt" />
              </Phrasis>
              <SingleWords>
                <Dictionary DictionaryType="FirstWords1" FileName="first_word1.txt" />
                <Dictionary DictionaryType="IntrWords2"  FileName="intr_word2.txt"  />
              </SingleWords>
              <MultiWords>
                <Dictionary DictionaryType="IntrWords1"    FileName="intr_word1.txt"          />
                <Dictionary DictionaryType="EntityOpinion" FileName="list_entity_opinion.txt" />
              </MultiWords>
            </Dictionaries>
          </Language>
        </Languages>
      </Theme>
    </Themes>
  </OpinionMining>

  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOpinionMining"
                 maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" 
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IOpinionMining"
                 maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" 
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_IOpinionMining"
                 maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" 
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="OpinionMining.OpinionMiningWcfService"
               behaviorConfiguration="OpinionMining.OpinionMiningWcfServiceBehavior">

        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_IOpinionMining"
                  contract="OpinionMining.IOpinionMining">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="/ws"
                  binding="wsHttpBinding"
                  bindingConfiguration="WSHttpBinding_IOpinionMining"
                  contract="OpinionMining.IOpinionMining">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="/web"
                  binding="webHttpBinding"
                  bindingConfiguration="WebHttpBinding_IOpinionMining"
                  contract="OpinionMining.IOpinionMining"
                  behaviorConfiguration="webScriptEnablingBehavior">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webScriptEnablingBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="OpinionMining.OpinionMiningWcfServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="2000000"
                             maxConcurrentInstances="2000000"
                             maxConcurrentSessions="2000000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
