<?xml version="1.0"?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Lingvistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<Lingvistics.Properties.Settings>
			<setting name="ProcessorCloseTimeOutInSeconds" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="StartupProcessorCount" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="ProcessorIdleTimeOutInSeconds" serializeAs="String">
				<value>600</value>
			</setting>
			<setting name="MaxProcessorCount" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="ProcessorQueueTimeOutInSeconds" serializeAs="String">
				<value>600</value>
			</setting>
			<setting name="ProcessorInitTimeOutInSeconds" serializeAs="String">
				<value>60</value>
			</setting>
			<setting name="ProcessorWorkTimeOutInSeconds" serializeAs="String">
				<value>60</value>
			</setting>
			<setting name="ProcessorMaxTextSize" serializeAs="String">
				<value>10240</value>
			</setting>
			<setting name="GenerateExceptions" serializeAs="String">
				<value>True</value>
			</setting>
		</Lingvistics.Properties.Settings>
	</applicationSettings>

	<system.runtime.remoting>
		<customErrors mode="Off" />

		<application>
			<service>
				<wellknown mode="Singleton" objectUri="LingvisticsServer" type="Lingvistics.LingvisticsServer, LingvisticsService"/>
			</service>
			<channels>
				<channel ref="tcp" port="45312"/>
				<serverProviders>
					<formatter ref="binary"/>
				</serverProviders>
			</channels>
		</application>
	</system.runtime.remoting>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

</configuration>
