<?xml version="1.0"?>
<configuration>
  
	<appSettings>
		<add key="ENDPOINT_CONFIGURATION_NAME" value="BasicHttpBinding_IDigest" />
		<!--<add key="ENDPOINT_CONFIGURATION_NAME" value="NETTcpBinding_IDigest"/>-->
		<!--<add key="ENDPOINT_CONFIGURATION_NAME" value="WSHttpBinding_IDigest" />-->
	</appSettings>
  
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IDigest" 
                 closeTimeout="00:05:00"
                 openTimeout="00:05:00" 
                 receiveTimeout="00:10:00" 
                 sendTimeout="00:10:00"
                 bypassProxyOnLocal="false" 
                 hostNameComparisonMode="StrongWildcard" 
                 maxBufferPoolSize="524288" 
                 maxReceivedMessageSize="2147483647" 
                 messageEncoding="Text" 
                 textEncoding="utf-8" 
                 useDefaultWebProxy="true" 
                 allowCookies="false">
					<readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" 
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
					<security mode="None">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</basicHttpBinding>      
			<wsHttpBinding>
				<binding name="WSHttpBinding_IDigest" 
                 closeTimeout="00:05:00" 
                 openTimeout="00:05:00" 
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00" 
                 bypassProxyOnLocal="false"
                 transactionFlow="false" 
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="524288"
                 maxReceivedMessageSize="2147483647"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 useDefaultWebProxy="true"
                 allowCookies="false">
					<readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
					<reliableSession ordered="true" 
                           inactivityTimeout="00:10:00"
                           enabled="false"/>
					<security mode="None">
						<transport clientCredentialType="None"/>
					</security>
					<!--
          <security mode="Message">
            <transport clientCredentialType="Windows"
                       proxyCredentialType="None"
                       realm="" />
            <message clientCredentialType="Windows"
                     negotiateServiceCredential="true"
                     algorithmSuite="Default"
                     establishSecurityContext="true" />
          </security>
          -->
				</binding>
			</wsHttpBinding>
			<netTcpBinding>
				<binding name="NETTcpBinding_IDigest"
                 closeTimeout="00:05:00" 
                 openTimeout="00:05:00" 
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00" 
                 transactionFlow="false" 
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard" 
                 listenBacklog="9999999"
                 maxConnections="9999999"
                 maxBufferPoolSize="524288" 
                 maxBufferSize="104857600" 
                 maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
					<reliableSession ordered="true" 
                           inactivityTimeout="00:10:00"
                           enabled="false"/>
					<security mode="None"/>
					<!--
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
          -->
				</binding>
			</netTcpBinding>
			<customBinding>
				<binding name="WebHttpBinding_IDigest">
					<textMessageEncoding maxReadPoolSize="64" 
                               maxWritePoolSize="16"
                               messageVersion="Soap12" 
                               writeEncoding="utf-8">
						<readerQuotas maxDepth="2147483647" 
                          maxStringContentLength="2147483647" 
                          maxArrayLength="2147483647"
                          maxBytesPerRead="2147483647"
                          maxNameTableCharCount="2147483647"/>
					</textMessageEncoding>
					<httpTransport/>
				</binding>
			</customBinding>
		</bindings>
		<client>
      
			<endpoint address="http://localhost:16299/Digest.WcfService/DigestWcfService.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IDigest" 
                contract="DigestWcfService.IDigest" 
                name="BasicHttpBinding_IDigest"/>
      
			<endpoint address="http://localhost:16299/Digest.WcfService/DigestWcfService.svc/ws"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IDigest" 
                contract="DigestWcfService.IDigest"
                name="WSHttpBinding_IDigest">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
      
			<endpoint address="net.tcp://localhost:9200/DigestWcfService"
                binding="netTcpBinding" 
                bindingConfiguration="NETTcpBinding_IDigest" 
                contract="DigestWcfService.IDigest" 
                name="NETTcpBinding_IDigest"/>
      
			<endpoint address="http://localhost:16299/Digest.WcfService/DigestWcfService.svc/web"
                binding="customBinding"
                bindingConfiguration="WebHttpBinding_IDigest"
                contract="DigestWcfService.IDigest" 
                name="WebHttpBinding_IDigest"/>
		</client>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
