<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Lingvistics" type="System.Configuration.DictionarySectionHandler"></section>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Lingvistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <Lingvistics>
    <add key="MaxEntityLength"       value="256"/>
    <add key="UseGeoNamesDictionary" value="True"/>
  </Lingvistics>
  
  <applicationSettings>
    <Lingvistics.Properties.Settings>
      <setting name="MaxProcessorVirtualMemoryInMB" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="UseCoreferenceResolution" serializeAs="String">
        <value>True</value>
      </setting>
    </Lingvistics.Properties.Settings>
  </applicationSettings>
</configuration>