<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITonalityMarking" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITonalityMarking">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://localhost:14299/TonalityMarking.WcfService/TonalityMarkingWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITonalityMarking"
        contract="TonalityMarkingWcfService.ITonalityMarking" name="BasicHttpBinding_ITonalityMarking" />
      <endpoint address="http://localhost:14299/TonalityMarking.WcfService/TonalityMarkingWcfService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITonalityMarking"
        contract="TonalityMarkingWcfService.ITonalityMarking" name="WSHttpBinding_ITonalityMarking">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
