<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDigest" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDigest">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:16299/Digest.WcfService/DigestWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDigest"
        contract="DigestWcfService.IDigest" name="BasicHttpBinding_IDigest" />
      <endpoint address="http://localhost:16299/Digest.WcfService/DigestWcfService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDigest"
        contract="DigestWcfService.IDigest" name="WSHttpBinding_IDigest">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

</configuration>
