<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOpinionMining" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebHttpBinding_IOpinionMining">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IOpinionMining" closeTimeout="00:05:00"
          openTimeout="00:05:00" sendTimeout="00:10:00" maxReceivedMessageSize="104857600">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint binding="customBinding" bindingConfiguration="WebHttpBinding_IOpinionMining"
        contract="OpinionMiningWcfService.IOpinionMining" name="WebHttpBinding_IOpinionMining" />
      <endpoint address="http://localhost:15299/OpinionMining.WcfService/OpinionMiningWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpinionMining"
        contract="OpinionMiningWcfService.IOpinionMining" name="BasicHttpBinding_IOpinionMining" />
      <endpoint address="http://localhost:15299/OpinionMining.WcfService/OpinionMiningWcfService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOpinionMining"
        contract="OpinionMiningWcfService.IOpinionMining" name="WSHttpBinding_IOpinionMining">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

</configuration>
