<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="Lingvistics" type="System.Configuration.DictionarySectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Lingvistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="Digest" type="Digest.DigestSectionHandler, Digest.WcfService" requirePermission="false"/>
  </configSections>

  <Lingvistics>
    <add key="MaxEntityLength"       value="256"/>
    <add key="UseGeoNamesDictionary" value="True"/>
  </Lingvistics>

  <applicationSettings>
    <Lingvistics.Properties.Settings>
      <setting name="MaxProcessorVirtualMemoryInMB" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="UseCoreferenceResolution" serializeAs="String">
        <value>True</value>
      </setting>
    </Lingvistics.Properties.Settings>
  </applicationSettings>
  
  <Digest>
    <Linguistics>
      <Url>tcp://localhost:45312/LingvisticsService</Url>
    </Linguistics>

    <TonalityMarking>
      <Themes>
        <Theme Type="Default">
          <Languages>
            <Language Type="RU">
              <Dictionaries BasePath="OMTM-Dictionaries\TM">
                <Nouns>
                  <!--существительные-->
                  <Dictionary DictionaryType="nANeg" FileName="list_nouns_aneg.txt" />
                  <Dictionary DictionaryType="nAPos" FileName="list_nouns_apos.txt" />
                  <Dictionary DictionaryType="nNeg"  FileName="list_nouns_neg.txt"  />
                  <Dictionary DictionaryType="nPos"  FileName="list_nouns_pos.txt"  />
                  <Dictionary DictionaryType="nPNeg" FileName="list_nouns_pneg.txt" />
                  <Dictionary DictionaryType="nPPos" FileName="list_nouns_ppos.txt" />
                </Nouns>
                <Verbs>
                  <!--глаголы-->
                  <Dictionary DictionaryType="vFlxNeg" FileName="list_verbs_flxneg.txt"   CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vFlxPos" FileName="list_verbs_flxpos.txt"   CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vLink"   FileName="list_verbs_link.txt"     CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vNeg"    FileName="list_verbs_neg.txt"      CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vPos"    FileName="list_verbs_pos.txt"      CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vNegP"   FileName="list_verbs_pure_neg.txt" CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vPosP"   FileName="list_verbs_pure_pos.txt" CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vOppPos" FileName="list_verbs_opp_pos.txt"  CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="vOppNeg" FileName="list_verbs_opp_neg.txt"  CheckOnExistsWeightValue="true" />
                </Verbs>
                <Adjectives>
                  <!--прилагательные-->
                  <Dictionary DictionaryType="adjNeg"   FileName="list_adjectives_neg.txt"   />
                  <Dictionary DictionaryType="adjPos"   FileName="list_adjectives_pos.txt"   />
                  <Dictionary DictionaryType="adjAmplf" FileName="list_adjectives_amplf.txt" CheckOnExistsWeightValue="true" />
                </Adjectives>
                <Adverbs>
                  <!--наречия-->
                  <Dictionary DictionaryType="advNeg"   FileName="list_adverbs_neg.txt"   CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="advPos"   FileName="list_adverbs_pos.txt"   CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="advAmplf" FileName="list_adverbs_amplf.txt" CheckOnExistsWeightValue="true" />
                </Adverbs>
                <Collocations>
                  <!--коллокации-->
                  <Dictionary DictionaryType="collNeg"   FileName="list_collocation_neg.txt"   />
                  <Dictionary DictionaryType="collPos"   FileName="list_collocation_pos.txt"   />
                  <Dictionary DictionaryType="collNeut"  FileName="list_collocation_neut.txt"  />
                  <Dictionary DictionaryType="collAmplf" FileName="list_collocation_amplf.txt" CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="collvNeg"  FileName="list_collocation_vneg.txt"  CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="collvPos"  FileName="list_collocation_vpos.txt"  CheckOnExistsWeightValue="true" />
                  <Dictionary DictionaryType="collvNeut" FileName="list_collocation_vneut.txt" CheckOnExistsWeightValue="true" />
                </Collocations>
                <NER>
                  <Dictionary DictionaryType="nNeg" FileName="list_ner_neg.txt" />
                  <Dictionary DictionaryType="nPos" FileName="list_ner_pos.txt" />
                </NER>                
              </Dictionaries>

              <Rules BasePath="OMTM-Dictionaries\TM">
                <MainFile>rules.xml</MainFile>
                <OrderFile>order_rules.xml</OrderFile>
                <OrderParticipialFile>order_rules_participial.xml</OrderParticipialFile>
                <OrderHomogenousFile>order_rules_homogenous.xml</OrderHomogenousFile>
              </Rules>
            </Language>
          </Languages>
        </Theme>
      </Themes>
    </TonalityMarking>

    <OpinionMining>
      <ResultLimit>
        <MaxSentCountInText>20000</MaxSentCountInText>
        <MaxObjectCountInSent>50</MaxObjectCountInSent>
        <MaxSentLengthWithoutSpace>5000</MaxSentLengthWithoutSpace>
      </ResultLimit>

      <Themes>
        <Theme Type="Default">
          <Languages>
            <Language Type="RU">
              <Dictionaries BasePath="OMTM-Dictionaries\OM">
                <Verbs>
                  <!--глаголы-->
                  <Dictionary DictionaryType="VerbsOpinion1" FileName="list_verbs_opinion1.txt" />
                  <Dictionary DictionaryType="VerbsOpinion2" FileName="list_verbs_opinion2.txt" />
                  <Dictionary DictionaryType="VerbsOpinion3" FileName="list_verbs_opinion3.txt" />
                  <Dictionary DictionaryType="VerbsOpinion4" FileName="list_verbs_opinion4.txt" />
                  <Dictionary DictionaryType="VerbsOpinion5" FileName="list_verbs_opinion5.txt" />
                  <Dictionary DictionaryType="VerbsOpinion6" FileName="list_verbs_opinion6.txt" />
                  <Dictionary DictionaryType="VerbsOpinion7" FileName="list_verbs_opinion7.txt" />
                </Verbs>
                <Phrasis>
                  <Dictionary DictionaryType="Phrasis1" FileName="list_phrasis_opinion1.txt" />
                  <Dictionary DictionaryType="Phrasis2" FileName="list_phrasis_opinion2.txt" />
                </Phrasis>
                <SingleWords>
                  <Dictionary DictionaryType="FirstWords1" FileName="first_word1.txt" />
                  <Dictionary DictionaryType="IntrWords2"  FileName="intr_word2.txt"  />
                </SingleWords>
                <MultiWords>
                  <Dictionary DictionaryType="IntrWords1"    FileName="intr_word1.txt"          />
                  <Dictionary DictionaryType="EntityOpinion" FileName="list_entity_opinion.txt" />
                </MultiWords>
              </Dictionaries>
            </Language>
          </Languages>
        </Theme>
      </Themes>
    </OpinionMining>
  </Digest>  
  
</configuration>